---
import { SITE_SOCIAL_LINKS } from "@consts"

type Props = {
  className?: string
  size?: "sm" | "md" | "lg"
}
const { className = "", size = "sm" } = Astro.props
const sizeClasses = {
  sm: "w-6 h-6",
  md: "w-8 h-8",
  lg: "w-12 h-12"
}
---

<div class:list={["flex gap-8", className]}>
  <a
    href={SITE_SOCIAL_LINKS.whatsapp}
    title="whatsapp link"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class={sizeClasses[size]}>
      <use xlink:href="/icons/socials.svg#whatsapp"></use>
    </svg>
  </a>
  <a
    href={SITE_SOCIAL_LINKS.tiktok}
    title="tiktok link"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class={sizeClasses[size]}>
      <use xlink:href="/icons/socials.svg#tiktok"></use>
    </svg>
  </a>
  <a
    href={SITE_SOCIAL_LINKS.instagram}
    title="instagram link"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class={sizeClasses[size]}>
      <use xlink:href="/icons/socials.svg#instagram"></use>
    </svg>
  </a>
  <a
    href={SITE_SOCIAL_LINKS.facebook}
    title="facebook link"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class={sizeClasses[size]}>
      <use xlink:href="/icons/socials.svg#facebook"></use>
    </svg>
  </a>
</div>
