---
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"

interface Props {
  title?: string
  description?: string
  image?: string
  normalHeader?: boolean
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const {
  title,
  description = SITE_DESCRIPTION,
  image = "/og-image.jpg",
  normalHeader
} = Astro.props as Props
const currentTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Font preloads -->
    <style is:global>
      @font-face {
        font-family: "Josefin Sans";
        src: url("/fonts/JosefinSans-Regular.ttf") format("truetype");
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Josefin Sans";
        src: url("/fonts/JosefinSans-Medium.ttf") format("truetype");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Josefin Sans";
        src: url("/fonts/JosefinSans-SemiBold.ttf") format("truetype");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Josefin Sans";
        src: url("/fonts/JosefinSans-Bold.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Playfair Display";
        src: url("/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Playfair Display";
        src: url("/fonts/PlayfairDisplay-MediumItalic.ttf") format("truetype");
        font-weight: 500;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Playfair Display";
        src: url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
    </style>

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{currentTitle}</title>
    <meta name="title" content={currentTitle} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
  </head>
  <body class="flex flex-col min-h-screen font-sans">
    <Header position={normalHeader ? "normal" : undefined} />
    <slot />
    <Footer />
  </body>
</html>
